<div class="row footer">
    <div class="col">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">HelpCenter</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">PrivacyPolicy</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">AdsInfo</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Status</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Brand</a></li>
            <li><a href="#">Advertise</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Businesses</a></li>
            <li><a href="#">Developers</a></li>
            <li><a href="#">Directory</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">© 2020 Twitter, Inc.</a></li>
        </ul>
    </div>
</div>